{% extends "base.html" %}
{% block content %}

            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Result Test</h6>
                              
                            </div>
                            <canvas id="myChart" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
  
            
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Testing</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                
                                    <th scope="col">File</th>
                                    
                                    <th scope="col">Prediksi</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {%for x,y in val%}
                                <tr>
                                   
                                    <td>{{x}}</td>                                   
                                    <td>{{y}}</td>
                                                              
                                </tr>
                                {%endfor%}  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->



            <!-- Footer End -->
       
    


{% endblock%}