{% extends "base.html" %}

<!-- {% block scripts %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Engine</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css' )}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="script.js"></script>
</head>
{% endblock %} -->

{% block content %}

  <div class="drag-area">
    <h1 class="text-center">Testing AI Engine</h1>
    <div class="icon text-center"><i class="fas fa-cloud-upload-alt"></i>
    </div>
    <h2 class="text-center">Upload File or multiple files and predict</h2>

    <form class="text-center p-5" action="/predict" method="post" enctype="multipart/form-data">
      <input class="form-control" type="file" name="soundfile" multiple=''>
      <input class="btn btn-primary mt-3" type="submit" value="Process">
    </form>
    <div class="text-center">
   {% if prediction %}
    {%for i in prediction%}
      <h3>{{i}}</h3>
    {%endfor%}
  </div>
      <!-- <p class="text-center">Prediction is {{prediction}}</p> -->
   {% endif %}
  </div>



{% endblock %}


  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css' )}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="script.js"></script>
  <script>src='static/style.css'</script>

